.left-sidebar {
    background-color: #f3f4f6;

    padding: 10px;
    /* border-radius: 8px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  .logo {
    height: 30px;
    width: 140px;
  }

  .new-project-btn {
    width: 100%;
    background-color: #434a54;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .new-project-btn:hover {
    background-color: #1C6CEB;
  }

  .nav-menu ul {
    list-style: none;
    padding: 0;
  }

  .nav-menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
  }

  .nav-menu li:hover {
    background: rgba(109, 40, 217, 0.1);
    border-radius: 5px;
  }

  .section {
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
    font-weight: bold;
    color: #6b7280;
  }
  .chatbox-wrapper {
    width: 100%; /* 사이드바 전체 너비 유지 */
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* TaskBoard 페이지에서 Chatbox 숨김 */
.hidden-chatbox {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}